@use '../colors' as *;

.header {
    position: relative;
    min-height: 400px;
    background: linear-gradient(62deg, rgba(2,0,36,1) 0%, rgba(0,45,88,1) 34%, rgba(26,70,162,1) 78%);
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .title {
        color: white;
        text-align: center;
        .heading {
            font-size: 4rem;
            font-weight: bold;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }
    }
}